---
title: OER World Map
layout: page
---

<section
  id="entry"
  class="pageSection bg-primary-color text-center text-white wide"
  style="min-height: 100vh; display:flex; align-items: center; background-image: url('{{ site.baseurl }}/assets/img/landingpage/map-bg.png'); background-size: cover; background-position: center center;"
>
  <div
    class="inner"
    style="padding: 110px 80px;"
  >
    {% include _landingpage/entry.html %}
  </div>
</section>

<section
  id="introduction"
  class="pageSection bg-blue-light text-white text-center"
>
  <div class="inner">
    {% include _landingpage/introduction.html %}
  </div>
</section>

<section
  id="on-the-map"
  class="pageSection text-center"
>
  <div class="inner">
    {% include _landingpage/on-the-map.html %}
  </div>
</section>

<section
  id="adding-data"
  class="pageSection bg-grey-lightest bottom-0 text-center"
>
  {% include _landingpage/examples.html %}
</section>

<section
  id="find"
  class="pageSection bg-white"
>
  <div class="inner">
    {% include _landingpage/find.html %}
  </div>
</section>

<section
  id="contribute"
  class="pageSection bg-grey-lightest text-center"
>
  <div class="inner">
    {% include _landingpage/contribute.html %}
  </div>
</section>

<section
  id="partners"
  class="pageSection bg-primary-color"
>
  <div class="inner">
    {% include _landingpage/partners.html %}
  </div>
</section>

<section
  id="contact"
  class="pageSection bg-grey-lightest"
>
  <div class="inner">
    {% include _landingpage/contact.html %}
  </div>
</section>

<section
  id="find"
  class="pageSection bg-highlight-color text-white"
>
  <div class="inner">
    {%
      include _newsletter/subscribe.html
      title="Subscribe to the OER World Map Newsletter"
      placeholder="Email address"
      button="Subscribe"
      subline="Leave your email address so we can keep you posted! Don't worry, we won't publish your email address or share it with anyone else - check out our <a href='/imprint'>privacy policy</a>."
    %}
  </div>
</section>
