<section
  id="footer"
  class="pageSection bg-grey-lightest v-xs text-grey"
>
  <div class="inner cf">
    
    <div style="float: left; line-height: 36px;">

      <a
        href="https://creativecommons.org/licenses/by/4.0/"
        style="font-size: 1.3em; text-decoration: none !important; margin-right: .7em; letter-spacing: .1em; display: inline-block; position: relative; top: .2em;"
      >
        <i class="cc cc-cc"></i>
        <i class="cc cc-by"></i>
      </a>
      
      <a href="/imprint" style="text-decoration: none !important;">Imprint & Privacy</a>
  
    </div>
    
    <div style="float: right;">
      <a href="#" class="btn hack-hover-invert-grey-lightest-background">Back to top</a>
    </div>
    
  </div>
</section>
